
@{
    ViewBag.Title = "Index";
}

@section styles {
    <link href="~/Content/general/vehicle-card.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/pages/vehiculo.js"></script>
}

<div id="vehiculos" class="seccion vehiculos flex-center">
    <div class="seccion-titulo">Vehículos</div>

    <div class="vehicle-card-container"></div>
</div>


