/*
	INDICE
	1. CONTENEDOR
	2. VEHICLE-CARD
	3. VEHICLE-CARD DETAILS
	4. MEDIA QUERIES
	5. KEYFRAMES
*/


/* 1. CONTENEDOR */
.vehicle-card-container {
	display: flex;
	justify-content: space-between;

	overflow: hidden;
	max-width: 90vw;
    padding-right: 50px;

	width: 100%;

    transition: .6s;
}


.btnMoveCards {
    z-index: 2;
}

/* 1. VEHICLE-CARD */
.vehicle-card {
	transform: scale(0.6);

	/*width: 35%;*/

	display: flex;
	align-items: center;
	flex-direction: column;

    margin: 0 4vw;

    padding: 20px;

    border: 1px solid transparent;
    transition: .2s;
}

/* 1. VEHICLE-CARD DETAILS */
.vehicle-card-header {
	display: flex;
	flex-direction: column;

	align-items: center;
}

.vehicle-presentation-title,
.vehicle-card-title {
	font-size: 2em;
	font-weight: 900;
}

.vehicle-presentation-title a,
.vehicle-presentation-title a:active,
.vehicle-presentation-title a:visited {
    color: #333;
    text-decoration: none;
}
.vehicle-presentation-title a:hover {
    text-decoration: underline;
}



.vehicle-card-price {
	display: none;
}

.vehicle-card-image {
	margin: 20px 0;
}
.vehicle-card-image img {
	max-height: 200px;
}

.vehicle-card-description {
	/*margin-bottom: 20px;*/
	display: none;
}

.vehicle-card-detail {
	text-align: center;
}
.vehicle-card-detail .button {
    display: none;
}


.vehicle-card--active {
	/*transform: scale(1);*/
	animation: agrandarVehicleCard 1s forwards;
    border: 1px solid #808080;
    transition: .3s;

}
/*.vehicle-card--active:hover {
    border: 1px solid #808080;
    transition: .3s;
}*/
.vehicle-card--active .vehicle-card-image {
	margin-top: 30px;
}
.vehicle-card--active .vehicle-card-image img {
    max-height: 220px;
}

.vehicle-card--active .vehicle-card-price,
.vehicle-card--active .vehicle-card-description,
.vehicle-card--active .vehicle-card-detail .button {
	display: block;
}



/* 1. MEDIA QUERIES */
@media only screen and (max-width: 425px) {
    .vehicle-card-container {
        flex-direction: column-reverse;
    }

    .vehicle-card {
        max-width: 100%;
        width: 100%;

        margin-bottom: 20px;
    }
}

/* 5. KEYFRAMES */
@keyframes agrandarVehicleCard {
	0% {
		transform: scale(0.4);
	}
	100% {
		transform: scale(1);
	}
}

