
@{
    ViewBag.Title = "Index";
}

@section styles {
    <link href="~/Content/general/service-card.css" rel="stylesheet" />    
}

@section scripts {
    <script src="~/Scripts/pages/servicio.js"></script>
}

<div id="servicios" class="seccion servicios flex-center">
    <div class="seccion-titulo">Servicios</div>

    <div class="service-card-container"></div>
</div>
