
@{
    ViewBag.Title = "Index";
}

@section styles {
    <link href="~/Content/general/product-card.css" rel="stylesheet" />    
}

@section Scripts {
    <script src="~/Scripts/pages/producto.js"></script>
}

<div id="productos" class="seccion productos flex-center margin-bottom">
    <!-- <h2 class="seccion-titulo"></h2> -->
    @*<div class="seccion-titulo">Productos</div>*@

    <div class="product-card-container"></div>
</div>
